# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CareaBio.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Anderson\programacion\CareaBio\CareaBio\.idea\.idea.CareaBio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
